* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(/img/2.jpg);
    background-size: cover;
}
/*header css börjar här*/
header {
    background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 5%;
	flex-wrap: wrap;
	
}
.company-name {
	color: #c567e5;
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
	cursor: pointer;
	text-decoration: none;
	font-size: 2.5em;
	
}

.company-name:hover {
	color: #fddc1f;
}

header nav a {
	margin: 2em;
	font-family: "Roboto", sans-serif;
    text-decoration: none;
	font-size: 1.6em;
    color: #c567e5;
	flex-wrap: wrap;
	
}
header nav a:hover {
	margin: 2em;
    text-decoration: none;
	font-size: 1.6em;
    color: #fddc1f;
	
}

.cart {
	margin-right: 3em;
	cursor:pointer;
}

/*header css slutar här*/

main * {
    color: white;
}

main {
    color: white;
    background-color: rgba(60, 60, 60, 0.5);
    margin: 2em;
    padding: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45em;
}
.text-container {
    padding:2em;
}

.namnet-på-lurarna {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 1em;

}
.text-lurarna {
    font-size: x-large; 
    line-height: 40px;
}
button {
    background-color: rgb(47, 186, 255);
    border: none;
    border-radius: 0.2em;
    font-size: 38px;
    padding:0.2em;
    padding-left: 1em;
    padding-right: 1em;
    margin:1em;
    transition: background-color 0.1s;
}

button:hover {
    background-color: rgb(31, 160, 225);
    transition: background-color 0.1s;
}
/* footer css börjar här*/

footer {
    background-color: black;
	padding: 3em;
	margin: auto;
	font-family: "Montagu Slab", serif;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.main-footer-container{
	
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	
	flex-wrap: wrap;
}

.main-footer-container h3{
	font-size: 1.5em;
	margin-bottom: 0.5em;
	
}

.container-container{
	display: flex;
	cursor:pointer;
}

.contact-container {
    color: #c567e5;
	padding-right: 0.5em;
	
}



.contact-container li:hover {
    
	color: #fddc1f;
	
}

.opening-hours {
	color: #c567e5;
	
	
	
}

.opening-hours p:hover {
	color: #fddc1f;
	
}

.socials-container{
	display: flex;
	justify-content: space-between;
	cursor:pointer;
}
.insta {
	
	margin: 1em;
}


/*footer css slutar här*/

@media (max-width: 720px) {
    header {
        flex-direction: column;
    }

    main {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    
}
