body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    height: 300px;
    display: flex;
    justify-content: flex-start;
    
}

.header-info h1 {
    position: absolute;
    left: 1em;
    margin-top: 10em;
    color: white;
}

.header-info p {
    position: absolute;
    left: 2em;
    margin-top: 25em;
    color: white;
}

.header-info img {
    position: absolute;
    left: 0;
    margin: 2em;
}

.header-info {
    text-align: start;
    width: 650px;
    height: 250px;
    color: black;
}

.map .image {
    position: absolute;
    right: 0;
    margin: 2em;
}

.map .contact {
    position: absolute;
    right: 20em;
    margin: 2em;
    margin-top: 5em;
    color: white;
    padding: 1em;
}