body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    height: 300px;
    display: flex;
    justify-content: flex-start;
    
}

.header-info h1 {
    position: absolute;
    left: 1em;
    margin-top: 10em;
    color: white;
}

.header-info p {
    position: absolute;
    left: 2em;
    margin-top: 25em;
    color: white;
}

.header-info img {
    position: absolute;
    left: 0;
    margin: 2em;
}

.header-info {
    text-align: start;
    width: 650px;
    height: 250px;
    color: black;
}

.map .image {
    position: flex;
    right: 0;
    margin: 2em;
}

.map .contact {
    position: absolute;
    right: 21em;
    margin: 2em;
    margin-top: 5em;
    color: white;
    padding: 1em;
} 

/* member button börjar här */
button {
    background-color: rgb(47, 186, 255);
    border: none;
    border-radius: 0.2em;
    font-size: 38px;
    padding:0.2em;
    margin-right:5em;
    margin-left: 5em;
    transition: background-color 0.1s;
	box-shadow: 2px 2px 12px rgb(12, 12, 12);
    color: white;
}

button:hover {
    background-color: rgb(31, 160, 225);
    transition: background-color 0.1s;
}
/*member button slutar här*/