* {margin: 0;
    padding: 0;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    background-color: #383434;
    
}
/*header css börjar här*/
header {
    background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 5%;
	font-family: 


}
.company-name {
	color: #c567e5;
	font-weight: bold;
	font-size: 5em;
	cursor: pointer;
	
}

header nav a {
	padding: 2em;
    text-decoration: none;
	font-size: 3em;
    color: #c567e5;
	
}
header nav a:hover {
	padding: 2em;
    text-decoration: none;
	font-size: 3em;
    color: #fddc1f;
	
}

/*header css slutar här*/

main * {
    color: white;
}

/* footer css börjar här*/

footer {
    background-color: black;
	padding: 3em;
	margin: auto;
}

ul{
	list-style: none;
}

.main-footer-container{
	
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0em 4em;
	font-size: 1.5em;
}

.container-container{
	display: flex;
	
}

.contact-container {
    color: #c567e5;
	padding-right: 2em;
}

.opening-hours {
	color: #c567e5;
	
}
.socials-container{
	display: flex;
	justify-content: space-between;
}
/*footer css slutar här*/