* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #383434;
    
}

header {
    background-color: black;
	

}

header nav a {
    text-decoration: none;
    color: #c567e5;
}

main * {
    color: white;
}

footer {
    background-color: black;
}

footer p {
    color: #c567e5;
}