/* group member börjar här */
body {
    background-color: black;
    color: #c567e5;
}

a {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: start;
    margin-top: 2em;
    margin-left: 3em;
    color: #c567e5;
}

button {
    background-color: rgb(47, 186, 255);
    border: none;
    border-radius: 0.2em;
    font-size: 38px;
    padding:0.2em;
    margin-right:5em;
    margin-left: 5em;
    transition: background-color 0.1s;
	box-shadow: 2px 2px 12px rgb(12, 12, 12);
}

button:hover {
    background-color: rgb(31, 160, 225);
    transition: background-color 0.1s;
}

.group-name img {
    width: 100px;
    height: 100px; 
}
h1 {
    margin-top: 3em;
    text-align: center;
}
body .member {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10em;
}
body .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* group member slutar här */